<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <footer class="footer container text-center" th:fragment="footer">
        <div class="center-block">
            <iframe src="http://ghbtns.com/github-btn.html?user=ptab&amp;repo=mashtv&amp;type=watch&amp;count=true" allowtransparency="true"
                frameborder="0" scrolling="0" width="110" height="20"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=ptab&amp;repo=mashtv&amp;type=fork&amp;count=true" allowtransparency="true"
                frameborder="0" scrolling="0" width="95" height="20"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=ptab&amp;type=follow&amp;count=true" allowtransparency="true" frameborder="0"
                scrolling="0" width="165" height="20"></iframe>
        </div>
    </footer>
</body>
</html>
