<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <section th:fragment="table">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Postcode</th>
                    <th>Phone number</th>
                    <th>Credit Limit</th>
                    <th>Birthday</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="person: ${persons}">
                    <td th:text="${person.fullName}">Name</td>
                    <td th:text="${person.address}">Address</td>
                    <td th:text="${person.postcode}">Postcode</td>
                    <td th:text="${person.phone}">Phone Number</td>
                    <td class="rightalign" th:text="${#numbers.formatDecimal(person.creditLimit,1,2)}">Credit Limit</td>
                    <td class="rightalign" th:text="${#calendars.format(person.birthday, 'MMMM d, yyyy')}">Birthday</td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>
