<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <section th:fragment="table">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Episodes</th>                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="person: ${shows}">
                    <td th:text="${person.title}">Title</td>
                    <td th:text="${person.address}">Episodes</td>                    
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>
