@CHARSET "UTF-8";

* {
    font-family: Droid Sans;
}

a {
    text-decoration: none;
    color: black;
}

html {
    background: rgb(245, 245, 250);
}

body {
    margin: 10px auto !important;
    width: 1280px;
    background-color: white;
    border: 1px solid rgba(164, 198, 57, 0.25);
}
z
body>header {
    margin: 1.5em;
    border-bottom: 3px solid rgb(164, 198, 57);
}

body>header:before,body>header:after {
    content: "";
    display: table;
}

body>header:after {
    clear: both;
}

header>section {
    float: left;
    font-size: 1.9em;
    color: rgb(164, 198, 57);
    letter-spacing: 0.20em;
}

header>nav {
    float: right;
    font-size: 1.50em;
}

header>nav>a {
    color: rgb(164, 198, 57);
    font-size: 0.9em;
    padding: 10px 20px;
    display: inline-block;
}

header>nav>a:hover,header>nav>a.selected {
    background-color: rgb(164, 198, 57);
    color: white;
}

body>div.main {
    margin: 20px;
}

div.main>section {
    margin-bottom: 30px;
    width: 45%;
}

div.main>section.full {
    width: 70%;
}

div.main>section.form {
    width: 30%;
}

div.main>section.list {
    width: 60%;
}

div.main>section:nth-child(even) {
    float: right;
}

div.main>section:nth-child(odd) {
    clear: both;
    float: left;
}

section>header {
    border-bottom: 1px solid rgb(164, 198, 57);
    padding: 8px;
    font-weight: bold;
}

section>header>a:hover {
    color: rgb(164, 198, 57);
}

section>article {
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px 0px 5px 10px;
    font-size: 0.9em;
}

section>article>details {
    float: left;
    font-size: 0.7em;
    text-transform: uppercase;
}

section>article>details>span {
    font-size: 1.25em;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 6px;
}

section>article>summary {
    float: left;
}

section>article>summary>a:hover {
    color: rgb(164, 198, 57);
}

section>article>aside {
    float: right;
    font-size: 0.7em;
}

section>article>aside>a,section>article>aside>img {
    text-align: center;
    padding: 0px 2px;
}

section>article>div {
    clear: both;
    font-size: 1em;
    font-style: italic;
}

footer {
    margin: 10px auto;
    text-align: center;
    color: gray;
    font-size: 0.6em;
}

footer>article {
    margin: 0 auto;
    display: inline-block;
    margin: 0px 10px;
}

footer>a {
    color: gray;
    margin-right: 10px;
}