<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Taborda's Parser</title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/marktplaats.css}" />
</head>
<body>
    <header>
        <h1>Taborda's Parser</h1>
        <nav>
            <a class="selected" th:href="@{/csv}">CSV</a>
            <a th:href="@{/prn}">PRN</a>
        </nav>
    </header>

    <div th:replace="fragments/table :: table">test</div>
    <div th:replace="fragments/footer :: footer">test</div>
</body>
</html>
