<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MashTV</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script th:src="@{/js/application.js}"></script>    
    <script th:src="@{/js/feeds.js}"></script>
</head>           
<body>    
    <div th:replace="fragments/navigation :: navigation(feeds)"></div>

    <div class="container">
        <form th:action="@{/api/feeds}" method="post" class="form-inline">
            <div class="form-group">
                <input name="url" type="text" class="form-control" placeholder="Enter a feed URL" />
            </div>
            <button type="submit" class="btn btn-success">Add feed</button>                                
        </form>
        
        <table class="table table-striped table-hover"></table>        
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
